<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://js.stripe.com/v3/"></script>
    <title>Тестовое задание</title>
</head>
<body>
    <h1>{{name}}</h1>
    <p>{{description}}</p>


    <div id="payment">

    </div>


    <button id="pay-button">Pay</button>



    
</body>
<script type="text/javascript">
  var stripe = Stripe('pk_test_51MaMuTCFuR6MvWxzLN8AN0Q3BuUDmyfEhPs2cmqS7c9OmnPYPHQGTJeDUKvDJ0b72kC7fGHzpBaOl4bkoCSRCOLQ00acQEWfpM');
  var buyButton = document.getElementById('buy-button');
  var payButton = document.getElementById('pay-button');
  fetch('/buy/{{item_id}}', {method: 'GET'})
      .then(response => {return response.json()})
      .then(intent => {
        var elements = stripe.elements({
          clientSecret: intent.client_secret,
        });
        var paymentElement = elements.create('payment')
        paymentElement.mount('#payment')

        payButton.addEventListener('click', function() {
          console.log("elems ",elements)
          stripe.confirmPayment({
            elements,
            confirmParams: {
              return_url: '/',
            },
          })
          .then(function(result) {
            if (result.error) {
              console.log(result.error)
            }
          });
        })
      })
  

  
  
</script>
</html>
